$primary: #3f5d45;
$secondary: #eaf0ed;
$desktop: '(min-width:1025px)';
$tablet: '(max-width:991px)';
$mobile: '(max-width:767px)';

$header-height: 100px;
$mobile-header-height: 84px;
$page-gap: 42px;
$input-height: 56px;
