$primary: #3f5d45;
$secondary: #eaf0ed;
$desktop: '(min-width:1025px)';
$desktop-big: '(min-width:1500px)';
$tablet: '(max-width:991px)';
$mobile: '(max-width:767px)';
$tablet-w: '(max-width:1024px)';

$header-height: 100px;
$mobile-header-height: 84px;
$page-gap: 42px;
$input-height: 56px;
$content-width: 940px;
$category-width: 300px;
$category-height: 65px;
$product-image-width: 300px;
$product-image-height: 315px;
$main-image-height: 496px;
$product-menu-mt: -89px;
$reason-img-wh: 460px;
$article-color: #8da291;
$card-image-width: 300px;
$card-image-height: 315px;
$p-line-height-remove: -12px;
$product-info-gap: 13px;
$tag-width: 36px;
$tag-height: 106.73px;
$input-height: 56px;
